/* Footer Container */
.footer {
    background-color: #F3F3F3; 
    padding: 40px 80px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    height: 429px;
}

/* Logo and Text */
.footer-left {
    display: flex;
    flex-direction: column; /* Şaquli düzülüş */
    align-items: flex-start; 
    margin-bottom: 40px; 
}

.footer-left img {
    width: 100px; 
    margin-right: 20px;
}

.footer-text p {
    line-height: 1.6; 
}

/* Links */
.footer-links {
    display: flex;
    gap: 40px; 
    margin-bottom: 40px;
}

.footer-links ul {
    list-style: none;
    margin: 0; 
    padding: 0; 
}

.footer-links li {
    margin-bottom: 10px; 
}

.footer-links a {
    text-decoration: none;
    color: #333; 
}

/* Right Section (Social and Rozet Icons) */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    margin-left: auto; /* Push to the right */
    position: relative;
    top: -350px; 
}

/* Social Icons */
.social-icons {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.social-icons span {
    margin-right: 10px; 
}

.social-icons a {
    margin-left: 15px; 
    font-size: 1.2em;
    color: #333; 
}

/* Rozet Icons */
.rozet-icons {
    display: flex;
    align-items: center;
    position: relative;
    top: 150px; 
}

.rozet-icons svg {
    margin-left: 20px;
}
