.hero-section {
    background-color: #FFB000;
    width: 100%;
    padding: 12px;
    margin-top: 123px !important;
}

.hero-section-banner {
    max-width: 1374px;
    margin: 0 auto;
}

.hero-section-banner img {
    width: 100%;
    background-size: contain;
}

.main-product-title-box {
    padding: 12px 0;
    margin: 20px 0;
}

.main-product-title {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
}

.main-product-title-menu ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-product-title-menu ul li {
    margin-right: 20px;
}

.main-product-title-menu ul a {
    color: black;
    font-size: 20px;
    font-weight: 400;
    transition: 0.4s ease-in-out all;
}
.main-product-title-menu ul a:hover{
    color: #C8102E;
}
.product-box {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.product-box img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 12px;
}

.product-info-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info h3 {
    max-width: 150px;
    font-size: 18px;
    margin: 10px 0 5px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-info p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.quantity-controls-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(99, 95, 95);

}

.quantity-controls button {
    background: #f0f0f0;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.quantity-controls button:nth-child(1) {
    border-left: none;
    border-right: 1px solid #cccccc;
    border-top: none;
    border-bottom: none;
}

.quantity-controls button:nth-child(2) {
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.quantity-controls input {
    width: 40px;
    text-align: center;
    border: none;

}

.add-to-cart {
    background: #C8102E;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    font-weight: 700;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out all;
}

.add-to-cart:hover {
    background: #218838;
}