body {
    font-family: 'Montserrat', sans-serif;
}

/* Product Display Container */
.product-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh; 
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px; 
}

.product-detail {
    padding-top: 100px; 
}

/* image related things  */
.product-display-container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.product-cta i {
    margin-right: 8px;
    font-size: 1.2rem;
    vertical-align: middle;
}


.product-availability {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #52A755;
    margin: 15px 0;
}

.product-availability i {
    margin-right: 8px;
    font-size: 1.5rem;
    color: #52A755;
}


/* Product Box */
.product-box {
    width: 60%; /* Adjust width as needed */
    background-color: #fff;
    border: 2px solid #C8102E; /* Red border to match branding */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center;
}

.product-title {
    font-size: 2em;
    font-weight: 300; 
    color: #333;
    margin-bottom: 10px;
}

.product-description {
    font-size: 1.2em;
    font-weight: 300; 
    color: #666;
    line-height: 1.5;
}

.product-price {
    font-size: 1.8rem;
    font-weight: 500; 
    color: #C8102E;
    margin-bottom: 15px;
}

.product-cta button {
    font-weight: 200; 
}
