@{ var fullName = User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value ?? "Unknown User"; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a asp-area="AdminArea" asp-controller="Dashboard" asp-action="Index" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>SULTANSKLEP</h3>
                </a>
                <div class="navbar-nav w-100">
                    <a class="nav-item nav-link active" asp-area="AdminArea" asp-controller="Dashboard" asp-action="Index">
                        <i class="fa fa-tachometer-alt me-2"></i>Dashboard
                    </a>
                    <a asp-area="AdminArea" asp-controller="Product" asp-action="Index" class="nav-item nav-link">
                        <i class="fa fa-box me-2"></i>Products
                    </a>
                    <a asp-area="AdminArea" asp-controller="Category" asp-action="Index" class="nav-item nav-link">
                        <i class="fa fa-tags me-2"></i>Categories
                    </a>
                    <a asp-area="AdminArea" asp-controller="User" asp-action="Index" class="nav-item nav-link">
                        <i class="fa fa-user me-2"></i>Users
                    </a>

                    <!-- Orders Dropdown Menu -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-shopping-cart me-2"></i>Orders
                        </a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a asp-area="AdminArea" asp-controller="Order" asp-action="NewOrders" class="dropdown-item">New Orders</a>
                            <a asp-area="AdminArea" asp-controller="Order" asp-action="PendingOrders" class="dropdown-item">Pending Orders</a>
                            <a asp-area="AdminArea" asp-controller="Order" asp-action="SendedOrders" class="dropdown-item">Sended Orders</a>
                            <a asp-area="AdminArea" asp-controller="Order" asp-action="CompletedOrders" class="dropdown-item">Completed Orders</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a asp-area="AdminArea" asp-controller="Dashboard" asp-action="Index" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a class="nav-link">
                            <span class="d-none d-lg-inline-flex">@fullName</span>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <!-- Dynamic Content -->
            <div class="container-fluid pt-4 px-4">
                @RenderBody()
            </div>

        </div>
        <!-- Content End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/chart/chart.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>
