@model SultanSklep.ViewModels.Product.ProductViewModel
@{
    ViewData["Title"] = "Update Product";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Məhsul yenilə</h1>
                    </div>
                    <form class="user" method="post" asp-controller="Product" asp-action="Edit" enctype="multipart/form-data">
                        <div class="form-group">
                            <input asp-for="ProductName" autocomplete="off" class="form-control form-control-user text-center" style="font-size: 15px;"
                                   placeholder="Məhsulun adı">
                            <span class="text-danger" asp-validation-for="ProductName"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Description" autocomplete="off" class="form-control form-control-user text-center" style="font-size: 15px;"
                                   placeholder="Məhsulun başlığı">
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Count" autocomplete="off" class="form-control form-control-user text-center" style="font-size: 15px;"
                                   placeholder="Məhsulun sayı">
                            <span class="text-danger" asp-validation-for="Count"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Price" autocomplete="off" class="form-control form-control-user text-center" style="font-size: 15px;"
                                   placeholder="Məhsulun qiyməti">
                            <span class="text-danger" asp-validation-for="Price"></span>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input asp-for="IsAvailable" class="custom-control-input">
                                <label class="custom-control-label" asp-for="IsAvailable">
                                    Stockdadir ?
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label asp-for="CategoryId">Kateqoriya seçin:<span class="text-danger">*</span></label>
                            <select class="form-control" asp-for="CategoryId">
                                @foreach (var item in (List<Category>)ViewBag.categories)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }


                            </select>
                        </div>


                        <div class="form-group">
                            <label for="Photo">Yeni Şəkil</label>
                            <input type="file" asp-for="Photo" class="form-control" />
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <div class="form-group">
                                <label>Mövcud Şəkil</label>
                                <img src="/@Model.Image" alt="@Model.ProductName" width="100" />
                            </div>
                        }

                        <button style="font-weight: bold; text-transform: uppercase;" type="submit" class="btn btn-primary btn-user btn-block">
                            Yenile
                        </button>
                        <a style="font-weight: bold; text-transform: uppercase;" asp-area="AdminArea" asp-controller="Product" asp-action="Index" class="btn btn-danger btn-user btn-block">
                            Imtina et
                        </a>
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
