﻿@{
    Layout = null;

}





<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Uğurlu qeydiyyat - ToG Shopping</title>
    <!-- My Error Css -->
    <link rel="stylesheet" href="~/assets/css/error.css">
    <!--    Bootstrap Icon CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

</head>
<body>

    <div id="loadertop"></div>

    <div id="error-page">
        <div class="content">

            <h4 data-text="Qeydiyyatınız tamamlandı.">
                Qeydiyyatınız tamamlandı
            </h4>
            <p>
                <i style="color: orangered;" class="bi bi-clock-history"></i> Hesabınıza daxil olmaq üçün email ünvanınıza göndərilən bağlantı vasitəsilə hesabınızı doğrulayın !
            </p>
            <div class="btns">
                <a asp-controller="Home" asp-action="Index">Əsas Səhifə</a>
            </div>
        </div>
    </div>

    <script src="~/assets/js/script.js"></script>

</body>
</html>